#Container_NAvbar {
    width: 97%;
    padding: 22px;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgb(190, 111, 111);
    color: rgb(32, 32, 29);
    
}

.hero1 {
    margin-left: 3%;
    cursor: pointer;
}

#main_nav {

    display: flex;
    /* margin-left: 0%; */
    justify-content: space-between;

}