.products-list{
    display: grid;
    width: 95%;
    grid-template-columns: repeat(3,30%);
    background-color: rgb(233, 230, 221);
    margin: auto;
}

.products-list > div{
   border: 1px solid black;
   margin: 5px;
}
